<div class="detailBox" >
<mat-card>
  <mat-card-header>
    <mat-card-title>Run: {{runId}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-title> Delivery Day:
      <mat-form-field appearance="standard">
        <mat-label>Pick a day...</mat-label>
        <mat-select>
          <mat-option *ngFor="let day of dayOfWeek" [value]='day[0]' (click)="loadData(day)">
            {{day}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-title>

  </mat-card-header>
  <div *ngIf="detailedRun$ | async as run;">
    <mat-card-content>
      <mat-expansion-panel *ngFor="let shop of run.shops" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>{{shop.stopId}}</mat-panel-title>
          <mat-panel-description>{{shop.shop.name}} - {{shop.shop.city}}</mat-panel-description>
        </mat-expansion-panel-header>
        <app-table [shop]="shop"></app-table>
      </mat-expansion-panel>
    </mat-card-content>
  </div>
    <mat-card-content>
      <h2> No Shops to display </h2>
    </mat-card-content>

  <mat-card-footer>
    <button class="tw-blue-btn" (click)="goToRunList(runId)">Back to List</button>
  </mat-card-footer>





</mat-card>
</div>





