
<div class="card-container" *ngIf="!selectedRun">
  <h2>Run List</h2>

  <mat-card class="runs" *ngFor="let run of runs">
  <a [routerLink]="['/run/', run.id, 'details']" (click)="onSelect(run)" >
  <mat-card-header >

    <mat-card-title>
      <span>{{run.id}}</span>
    </mat-card-title>

    <mat-card-subtitle>
      <span class="name">{{run.locationArea}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  </a>
</mat-card>
</div>
<div class="detailContainer">
<app-run-detail [run]="selectedRun"></app-run-detail>

<button class="tw-blue-btn" *ngIf="selectedRun" (click)="onRemoveSelect()">Back</button>
</div>
