.card-container {
  width: 80%;
  margin: 3em;

}

mat-card {
  display: flex;
  margin: 0;
  padding: 0px;

  width: 20%;
  background-color: lightskyblue;
}

mat-card-title {
  background-color: pink;
  margin: 0;

}
